html[theme=air-2-76] {
    --grid-gutter-width: 30px;
    --up-green: #14a800;
    --brand-green: #108a00;
    --up-green-dark: #3c8224;
    --up-lime: #95df00;
    --blue: #1f57c3;
    --highlight-blue: var(--blue);
    --mint: #91e6b3;
    --forest: #13544e;
    --sky: #01cdbe;
    --brown: #67541f;
    --kiwi: #97922d;
    --yellow: #debe1a;
    --brick: #9b211b;
    --clay: #bc5118;
    --orange-red: #ff4b25;
    --pink: #f66dbc;
    --lilac: #bda1e7;
    --heather: #a18085;
    --up-black: #001e00;
    --gray-05-h: 120;
    --gray-05-s: 15%;
    --gray-05-l: 91%;
    --up-black-hsl: 120,100%,6%;
    --white-hsl: 0,0%,100%;
    --font-family-base: "Neue Montreal";
    --font-family-rebrand: Rza,Rza-fallback;
    --line-height-lead: 28px;
    --line-height-lead-md: 32px;
    --line-height-lead-lg: 36px;
    --line-height-lead-xl: 46px;
    --letter-spacing-base: 0.6px;
    --heading-letter-spacing: 0.6px;
    --heading-spacing: var(--ws-lg);
    --font-size-base: 14px;
    --line-height-base: 20px;
    --font-size-base-xs: 12px;
    --line-height-base-xs: 18px;
    --strong-weight: var(--font-weight-bold);
    --heading-weight: var(--font-weight-bold);
    --heading-weight-alt: var(--font-weight-bold);
    --heading-weight-visitor: var(--font-weight-bold);
    --brand-primary-lightest: var(--up-green);
    --brand-primary-light: var(--up-green);
    --brand-primary: var(--up-green);
    --brand-primary-dark: var(--up-green-dark);
    --brand-primary-darkest: var(--up-green-dark);
    --brand-secondary-lightest: var(--up-lime);
    --brand-secondary-light: var(--up-lime);
    --brand-secondary: var(--up-lime);
    --brand-secondary-dark: var(--up-green-dark);
    --brand-secondary-darkest: var(--up-green-dark);
    --brand-complimentary: var(--blue);
    --brand-complimentary-dark: var(--blue);
    --brand-complimentary-darkest: var(--forest);
    --brand-twilight: var(--forest);
    --brand-dusk: var(--forest);
    --brand-domestic: var(--blue);
    --brand-highlight: var(--blue);
    --brand-success: var(--up-green-dark);
    --brand-warning: var(--yellow);
    --brand-danger: var(--brick);
    --brand-coral: var(--orange-red);
    --brand-info: var(--up-green-dark);
    --brand-accent: var(--yellow);
    --brand-marketing: var(--up-green);
    --brand-marketing-up: var(--brand-secondary);
    --gray-1: var(--up-black);
    --gray-2: var(--gray-01);
    --gray-3: var(--gray-02);
    --gray-4: var(--gray-04);
    --gray-5: var(--gray-05);
    --gray-6: var(--gray-06);
    --gray-7: var(--gray-03);
    --text-inverse: var(--white);
    --text-1: var(--gray-1);
    --text-2: var(--gray-2);
    --text-3: var(--gray-3);
    --text-4: var(--gray-4);
    --text-5: var(--gray-5);
    --text-6: var(--gray-6);
    --text-7: var(--gray-7);
    --bg-1: var(--gray-1);
    --bg-2: var(--gray-2);
    --bg-3: var(--gray-3);
    --bg-4: var(--gray-4);
    --bg-5: var(--gray-5);
    --bg-6: var(--gray-6);
    --bg-7: var(--gray-7);
    --bg-inverse: var(--white);
    --body-bg: var(--white);
    --link-color: var(--brand-green);
    --link-color-hover: var(--up-green);
    --link-hover-color: var(--link-color-hover);
    --shadow-color: 57,73,76;
    --shadow-color-active: rgba(var(--shadow-color),0.25);
    --drop-shadow: none;
    --drop-shadow-active: none;
    --pop-shadow: 0 0 10px 2px rgba(0,30,0,0.15);
    --form-shadow: none;
    --dialog-shadow: none;
    --backdrop-opacity: 0.3;
    --backdrop: var(--up-black);
    --border-4: var(--gray-4);
    --border-7: var(--gray-7);
    --border-base-color: var(--border-4);
    --border-base-alt-color: var(--gray-5);
    --border-base: 1px solid var(--border-base-color);
    --border-base-alt: 1px solid var(--border-base-alt-color);
    --card-border: var(--border-base);
    --form-border: 2px solid var(--border-base-alt-color);
    --form-border-hover-color: var(--tertiary-hover);
    --form-border-disabled: var(--bg-disabled);
    --form-radius: var(--radius-lg);
    --dialog-radius: var(--radius-xl);
    --card-radius: var(--radius-xl);
    --alert-radius: 12px;
    --primary-dark-hover: hsla(var(--up-black-hsl),80%);
    --primary-light-hover: hsla(var(--white-hsl),80%);
    --secondary-dark-hover: hsla(var(--up-black-hsl),20%);
    --secondary-light-hover: hsla(var(--up-black-hsl),10%);
    --tertiary: var(--gray-5);
    --tertiary-hover: hsl(var(--gray-05-h),var(--gray-05-s),calc(var(--gray-05-l) - 10%));
    --btn-radius: var(--radius-pill);
    --btn-primary-bg: var(--brand-green);
    --btn-primary-bg-hover: var(--up-green);
    --btn-bg: var(--bg-inverse);
    --btn-bg-hover: var(--bg-6);
    --btn-border: 2px solid;
    --btn-weight: var(--font-weight-bold);
    --btn-font-size: 15px;
    --btn-bg-disabled: var(--bg-disabled);
    --primary-color-icon: var(--text-1);
    --primary-bg-hover: var(--bg-6);
    --primary-color-hover: var(--text-1);
    --primary-bg-active: transparent;
    --primary-color-active: var(--text-1);
    --primary-weight-active: var(--font-weight-bold);
    --primary-bg-highlight: var(--bg-inverse);
    --font-size-h1: 26px;
    --line-height-h1: 32px;
    --font-size-h2: 22px;
    --line-height-h2: 28px;
    --font-size-h3: 18px;
    --line-height-h3: 24px;
    --font-size-h4: 16px;
    --line-height-h4: 22px;
    --font-size-h5: var(--font-size-h4);
    --line-height-h5: var(--line-height-h4);
    --font-size-h6: var(--font-size-h4);
    --line-height-h6: var(--line-height-h4);
    --font-size-h1-visitor: 50px;
    --line-height-h1-visitor: 60px;
    --font-size-h1-visitor-s: 40px;
    --line-height-h1-visitor-s: 50px;
    --font-size-h2-visitor: 35px;
    --line-height-h2-visitor: 43px;
    --font-size-h3-visitor: 16px;
    --line-height-h3-visitor: 22px;
    --font-size-h4-visitor: 14px;
    --line-height-h4-visitor: 20px;
    --font-weight-rebrand: var(--font-weight-normal);
    --font-size-h1-rebrand: 32px;
    --line-height-h1-rebrand: 33px;
    --heading-letter-spacing-h1-rebrand: -0.031em;
    --font-size-h2-rebrand: 28px;
    --line-height-h2-rebrand: 30px;
    --heading-letter-spacing-h2-rebrand: -0.028em;
    --bg-disabled: var(--gray-5);
    --text-dark: var(--text-1);
    --text-light: var(--text-2);
    --text-disabled: var(--text-3);
    --text-muted: var(--text-3);
    --success-color: var(--up-green-dark);
    --warning-color: var(--yellow);
    --danger-color: var(--brick);
    --list-margin: var(--ws-sm);
    --list-padding: var(--ws-md);
    --list-style-ul: disc;
    --list-style-ol: decimal;
    --ws-mobile-x: 15px;
}