@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Serif NP Hmong', serif;
    margin: 0;
    padding: 0;
}
.li-style{
    list-style-type: none;
}
.td{
    text-decoration: none;
    color: rgb(48, 48, 48);
    white-space: nowrap;
}
footer .td {
    color: var(--secondary-color);
    white-space: break-spaces;
}
.con-seven .td{
    color: var(--tertiary-color);
    font-size: 24px;
}
.border-bottom{
    border-bottom:1px solid var(--devider-color);
}

.icon-round{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid var(--devider-color);
}
.nowrap{
    white-space: nowrap;
}

/* .container .con-one{
} */
.con-two{
    background: url(./image/find-talent.webp);
    background: cover;
    background-repeat: no-repeat;
}
/* -------------------------------------------  */
/* good companys txt color  */
.gc-color{
    color: #91e6b3;
}

/* -------------------------------------------  */
.min-height{
    min-height: 250px;
}
.box-circle{
    min-height: 350px;
    width: 350px;
}
.icon-img{
    height: 15px;
    width: 15px;
}
.box-container{
    min-height:150px;
    border-radius: 5px;
    background-color: var(--bg-gray-2);
    padding: 20px;
}

.image{
    background: cover;
    height: 100%;
    width: 100%;
    
}
.carousel-img{
    height: 450px;
}

.container-fluid .row .col-sm-6 .li-style .td{
    color: aliceblue;
}

.con-three .person-before{
    position: relative;
}
.con-three .person-after{
    position: absolute;
    right: 300px;
    top:-20px;
}
.align-bottom{
    margin-top: inherit;
}
.dsign-gap{
    margin-top: 250px;
}

/* for client   */

.for-c-width{
    max-width: 200px;
}


            /* carousel css  */
            /* carousel css  */
            /* carousel css  */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}



@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media only screen and (max-width: 847px) {
    .second-nav {
        display: none;
    }
}
/* @media only screen and (max-width: 547px) {
    .xxl{
        font-size: 54px;
    }
} */
